.App {
  text-align: center;
}

body{
  background-image: url("https://images.pexels.com/photos/2706654/pexels-photo-2706654.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1050");
}

.jumbotron{
  padding: 10px 10px;
  background-color: lightgray;
  margin: 50px;
}

.header{
  color: yellow;
  border: 5px solid darkgray;
  font-size: 60pt;
  font-weight: bold;
}

.disclaimer{
  font-size: 10pt;
}

iframe{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 320px;
}